#a {
  color: Black;
  }
  #a:hover {
  background-color: #316DC3;
  color: white;
  border-radius: 25px;
  }
  #a:focus {
  background-color: #316DC3;
  color: white;
  border-radius: 25px;
  }
  #a1 {
  color: Black;
  }
  #a1:hover {
  background-color: #316DC3;
  color: white;
  }
  #home{
      background-color: #316DC3;
      border-radius: 25px;
      color: White;
  
    }
  .navbar{
      background-color: grey !important;
      border-radius: 20px;
  }
  #div {
      text-align: justify;
      text-justify: inter-word;
      padding:0px 100px 0px 100px;
      color: grey;
  
    }
    @media screen and (max-width: 100px) {
      #div{
          width: 100%;
      }
       }
     .page-footer{
         background-color: darkslategray;
     }
     
     @media (min-width: 768px) {
      .carousel-multi-item-2 .col-md-3 {
      float: left;
      width: 25%;
      max-width: 100%; } }
      
      .carousel-multi-item-2 .card img {
      border-radius: 2px; }
      
      .footer-copyright{
          background-color: whitesmoke;
      }
      h1{
        font-size: 250px;
        color: lightcoral;
        text-align: center;
      }
      .card1{
        width: 330px !important;
        height: auto !important;
        border: 2px solid lightseagreen;
        box-shadow: 2px 2px 4px grey;
        margin-bottom: 20px !important;
        margin-right: 80px;
      }
      .col{
        margin-right: 80px;
      }
    
      .btn-primary{
        width: 100%;
        background-color: grey !important;
      }
      .fee{
        width: 100%;
        height: 200px;
        background-color: darkgrey;
      }
      #h{
        color: maroon;
        text-align: center;
        padding-top: 70px;
      }
      .btn-outline-success{
        width: 100px;
        height: 50px;
        
    
      }
      .btn-outline-success:hover{
        background-color: maroon !important;
      }
      @media screen and (max-width: 100px) {
        .fee{
            width: 100%;
        }