#h2 {
    text-align: center;
    color: #6b5acd;
    font-size: xx-large;
    padding: 10;
  }
  p{
    text-align: center;
    color: blue;
    font-size: xx-large;
}
#img{
    text-align: center;
  }
  #j{
    padding-top: 5px;
    padding-left: 100px;
    font: 14px sans-serif;
    color: limegreen;
    width: 100%;
    
  }
  .k{
   
    font: 14px sans-serif;
    background-color: #666666;
   }
   #k{
      display: inline-block;
   }
   
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
   font: 11px sans-serif;
    background-color: #316DC3;
    color: white;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    
 }